body {
  font-size: 12px;
  font-family: Arial, sans-serif;
  background-color: #f7f7f7; }

* {
  box-sizing: border-box; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

input {
  outline: none;
  border: none;
  padding: 0;
  margin: 0; }

.l-layout, .main-layout-left, .main-layout-right {
  outline: 1px solid #ccc; }

.header-nav_item, .header-nav_item:hover a::after, .header-search_button input[type='submit'], .header-actions-signin a:hover::after, .header-actions-forgotpas:hover::after, .header-actions-social .social-icon:hover, .footer-contact .footer-social:hover, .footer-nav_item, .footer-nav_item:hover a::after, .main .content-block-item, .main .content-block-item:hover {
  transition: all .1s ease-out; }

.l-layout {
  max-width: 1280px;
  margin: 0 auto;
  position: relative; }
  .l-layout::after {
    content: '';
    display: block;
    clear: both; }

.tw, .vk, .fb, .g {
  width: 25px;
  height: 25px;
  display: block; }

.tw {
  background: url("../img/social/twi.svg") 49% 49% no-repeat;
  background-size: auto 12px; }

.vk {
  background: url("../img/social/vk.svg") 42% 49% no-repeat;
  background-size: auto 12px; }

.fb {
  background: url("../img/social/fb.svg") 40% 49% no-repeat;
  background-size: auto 12px; }

.g {
  background: url("../img/social/gl.svg") 40% 49% no-repeat;
  background-size: auto 12px; }

.block-title {
  height: 41px;
  line-height: 41px;
  margin: 0;
  font-size: 20px;
  font-weight: normal;
  font-style: italic;
  color: #333;
  padding-left: 16px;
  background: transparent url("../img/decor-vertical-line.jpg") repeat-y 0 0; }

.side-block {
  border-left: 3px solid #efefef; }

.block-button {
  display: inline-block;
  padding-right: 27px;
  padding-left: 16px;
  position: relative;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 10px; }
  .block-button::after {
    content: '';
    position: absolute;
    right: 0;
    top: 15%;
    width: 18px;
    height: 7px;
    background: url("../img/post-button-icon.png") 0 0 no-repeat; }
  .block-button:hover {
    text-decoration: underline; }

.header {
  background: #eee url("../../img/header-bg.jpg") 50% 50% no-repeat;
  background-size: cover;
  color: #fff;
  padding-top: 10px;
  margin-bottom: 18px; }
  .header::after {
    content: '';
    display: block;
    clear: both; }
  .header-logo {
    float: left;
    margin-right: 25px; }
  .header-nav {
    margin-top: 16px;
    margin-bottom: 12px;
    border-bottom: 1px solid #5c9977;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
    .header-nav_item {
      display: inline-block;
      margin-right: 50px; }
      .header-nav_item:hover a::after {
        opacity: 0; }
      .header-nav_item a {
        position: relative;
        display: block;
        padding: 12px 0;
        color: #fff;
        font-size: 15px; }
        .header-nav_item a::after {
          content: '';
          position: absolute;
          left: 0;
          bottom: 10px;
          width: 100%;
          height: 1px;
          background-color: #fff;
          opacity: 1; }
  .header .l-header-grid {
    float: left;
    width: 735px; }
  .header-actions {
    float: right; }
  .header-search {
    width: 100%;
    position: relative;
    margin-bottom: 17px; }
    .header-search::after {
      content: '';
      display: block;
      clear: both; }
    .header-search_input {
      float: left;
      width: 100%;
      padding-right: 90px; }
      .header-search_input input[type='search'] {
        width: 100%;
        padding: 5px 21px;
        border-radius: 2px;
        box-shadow: 0.5px 0.9px 1px rgba(0, 0, 0, 0.22), inset 0 1px 0 #FFF; }
    .header-search_button {
      position: absolute;
      right: 0; }
      .header-search_button input[type='submit'] {
        cursor: pointer;
        font-weight: 400;
        padding: 5px 21px;
        border-radius: 2px;
        background-color: #EDEDED;
        box-shadow: 0.5px 0.9px 1px rgba(0, 0, 0, 0.22), inset 0 1px 0 #FFF; }
        .header-search_button input[type='submit']:active {
          -webkit-transform: scale(0.98);
              -ms-transform: scale(0.98);
                  transform: scale(0.98); }
  .header-actions {
    float: right;
    text-align: right; }
    .header-actions-signin a, .header-actions-forgotpas {
      display: inline-block;
      color: #fff;
      position: relative; }
      .header-actions-signin a::after, .header-actions-forgotpas::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        border-bottom: 1px dotted #fff;
        opacity: 0; }
      .header-actions-signin a:hover::after, .header-actions-forgotpas:hover::after {
        opacity: 1; }
    .header-actions-signin {
      margin-bottom: 5px; }
      .header-actions-signin span {
        padding: 0 3px; }
    .header-actions-forgotpas {
      margin-bottom: 15px; }
    .header-actions-social {
      font-size: 0; }
      .header-actions-social_title {
        font-size: 12px;
        margin-bottom: 8px; }
      .header-actions-social .social-icon {
        width: 25px;
        height: 25px;
        display: inline-block;
        margin-left: 5px;
        background: url("../img/social-bg.png") 50% 50% no-repeat; }
        .header-actions-social .social-icon:hover {
          background: url("../img/footer-social-bgr.png") 49% 51% no-repeat; }
  .header-slider {
    height: 327px;
    background-color: #ccc;
    margin-bottom: 48px; }

.footer {
  padding: 13px 0;
  background-color: #f1f1f1; }
  .footer::after {
    content: '';
    display: block;
    clear: both; }
  .footer-logo {
    float: left;
    margin-right: 20px; }
  .footer-contact {
    float: left; }
    .footer-contact_info {
      margin-bottom: 5px; }
    .footer-contact_number {
      margin-bottom: 5px; }
    .footer-contact_email a {
      color: #000;
      text-decoration: underline; }
    .footer-contact .footer-social {
      width: 25px;
      height: 25px;
      display: inline-block;
      margin-left: 1px;
      margin-bottom: 7px;
      background: url("../img/footer-social-bgr.png") 50% 50% no-repeat; }
      .footer-contact .footer-social:hover {
        background: url("../img/footer-social-bgr-hover.png") 49% 51% no-repeat; }
  .footer-nav {
    float: right;
    width: 840px;
    font-size: 0;
    margin-top: 10px; }
    .footer-nav_list {
      font-size: 12px;
      display: inline-block;
      width: 33%;
      padding-left: 40px;
      margin-bottom: 10px; }
      .footer-nav_list--border {
        background: url("../img/vertical-border.png") 100% 0 no-repeat; }
      .footer-nav_list > .footer-nav_item {
        margin-bottom: 10px; }
    .footer-nav_item {
      padding-left: 7px;
      position: relative; }
      .footer-nav_item:hover a::after {
        opacity: 0; }
      .footer-nav_item::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -4px;
        width: 4px;
        height: 6px;
        background: url("../img/point.svg") 0 0 no-repeat; }
      .footer-nav_item a {
        position: relative;
        color: #000; }
        .footer-nav_item a::after {
          content: '';
          position: absolute;
          height: 1px;
          background-color: #000;
          left: 0;
          bottom: 0;
          width: 100%;
          opacity: 1; }
    .footer-nav_info {
      font-size: 12px;
      padding-left: 40px;
      margin: 0; }

.main::after {
  content: '';
  display: block;
  clear: both; }

.main-layout-left {
  float: left;
  width: 765px; }

.main-layout-right {
  float: right;
  width: 460px; }

.main .content-block {
  text-align: justify;
  margin-bottom: 30px;
  font-size: 0; }
  .main .content-block::after {
    content: '';
    display: inline-block;
    width: 100%; }
  .main .content-block_title {
    text-align: left;
    padding-left: 30px;
    position: relative;
    box-shadow: 0.5px 2px 1px rgba(0, 0, 0, 0.2), inset 0 1px 0 #FFF;
    background: #f7f7f7 url("../img/content-title.jpg") 0 0 repeat-x;
    margin-bottom: 20px;
    font-size: 12px; }
    .main .content-block_title::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      background: #0e5d31 url("../img/decor-vertical-line.jpg") 0 0 no-repeat;
      width: 3px;
      height: 100%; }
    .main .content-block_title h2 {
      height: 41px;
      font-size: 22px;
      line-height: 41px;
      padding-right: 14px;
      color: #000;
      text-shadow: 0 1px #fff;
      margin-top: 0; }
  .main .content-block-item {
    display: inline-block;
    position: relative;
    width: 242px;
    box-shadow: inset 0 1px 0 #FFF;
    margin-bottom: 30px;
    border: 1px solid #d3d3d3;
    background: url("../img/items-list-item-useful-bg.png") 0 0 repeat; }
    .main .content-block-item:hover {
      box-shadow: 0.5px 1px 1px rgba(0, 0, 0, 0.2); }
    .main .content-block-item a {
      color: #000; }
    .main .content-block-item_img {
      width: 100%;
      height: 150px;
      overflow: hidden;
      margin-bottom: 5px; }
      .main .content-block-item_img img {
        max-width: 100%;
        height: auto; }
    .main .content-block-item_date {
      text-align: left;
      margin-bottom: 5px;
      padding: 0 10px;
      font-size: 10px; }
    .main .content-block-item_title {
      text-align: left;
      text-transform: uppercase;
      font-weight: 700;
      margin-bottom: 5px;
      padding: 0 10px;
      overflow: hidden;
      height: 50px;
      font-size: 14px; }
    .main .content-block-item_text {
      text-align: left;
      padding: 5px 0;
      padding: 10px;
      padding-right: 50px;
      overflow: hidden;
      height: 58px;
      vertical-align: middle;
      font-size: 12px;
      background: url("../img/horizontal-line.jpg") 0% 0% repeat-x; }
    .main .content-block-item_button {
      width: 48px;
      height: 35px;
      position: absolute;
      bottom: 10px;
      right: -5px;
      background: url("../img/read-button.png") 50% 50% no-repeat; }

.main .forum-list-post {
  padding: 8px 16px;
  margin-bottom: 20px; }
  .main .forum-list-post:last-child {
    margin-bottom: 35px; }
  .main .forum-list-post_date {
    color: #ccc;
    font-size: 12px;
    font-style: italic;
    margin-bottom: 5px; }
  .main .forum-list-post_title {
    margin-bottom: 8px; }
    .main .forum-list-post_title a {
      font-size: 14px;
      color: #002649;
      text-decoration: underline; }
      .main .forum-list-post_title a:hover {
        text-decoration: none; }
  .main .forum-list-post_info {
    margin-bottom: 8px; }
    .main .forum-list-post_info span {
      margin-left: 3px; }
  .main .forum-list-post_text {
    color: #757575;
    font-style: italic;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
