$default-font-size: 12px;

body {
  font-size: $default-font-size;
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

input {
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
}

%outline {
  outline: 1px solid #ccc;
}

%transition {
  transition: all .1s ease-out;
}

@mixin clear {
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}


.l-layout {
  @extend %outline;
  @include clear;
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
}

.tw, .vk, .fb, .g {
  width: 25px;
  height: 25px;
  display: block;
}

.tw {
  background: url("../img/social/twi.svg") 49% 49%  no-repeat;
  background-size: auto 12px;
}

.vk {
  background: url("../img/social/vk.svg") 42% 49%  no-repeat;
  background-size: auto 12px;
}

.fb {
  background: url("../img/social/fb.svg") 40% 49%  no-repeat;
  background-size: auto 12px;
}

.g {
  background: url("../img/social/gl.svg") 40% 49%  no-repeat;
  background-size: auto 12px;
}

.block-title {
    height: 41px;
    line-height: 41px;
    margin: 0;
    font-size: 20px;
    font-weight: normal;
    font-style: italic;
    color: #333;
    padding-left: 16px;
    background: transparent url('../img/decor-vertical-line.jpg') repeat-y 0 0;
}

.side-block {
  border-left: 3px solid #efefef;
}

.block-button {
  display: inline-block;
  padding-right: 27px;
  position: relative;
  text-transform: uppercase;
  color: #000;
  // margin-bottom: 10px;
  margin: 10px 0;

  &::after {
    content: '';
    position: absolute;
    right: 0;
    top: 15%;
    width: 18px;
    height: 7px;
    background: url('../img/post-button-icon.png') 0 0 no-repeat;
  }

  &:hover {
    text-decoration: underline;
  }
}
