$default-font-size: 12px;

body {
  font-size: $default-font-size;
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

input {
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
}

%outline {
  outline: 1px solid #ccc;
}

%transition {
  transition: all .1s ease-out;
}

@mixin clear {
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}


.l-layout {
  @extend %outline;
  @include clear;
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
}

.tw, .vk, .fb, .g {
  width: 25px;
  height: 25px;
  display: block;
}

.tw {
  background: url("../img/social/twi.svg") 49% 49%  no-repeat;
  background-size: auto 12px;
}

.vk {
  background: url("../img/social/vk.svg") 42% 49%  no-repeat;
  background-size: auto 12px;
}

.fb {
  background: url("../img/social/fb.svg") 40% 49%  no-repeat;
  background-size: auto 12px;
}

.g {
  background: url("../img/social/gl.svg") 40% 49%  no-repeat;
  background-size: auto 12px;
}
