.header {
  background: #197240 url('../img/header-bg.jpg') 50% 50% no-repeat;
  background-size: cover;
  @include clear;
  color: #fff;
  padding-top: 10px;
  margin-bottom: 18px;

  &-logo {
    float: left;
    margin-right: 25px;
  }

  &-nav {
    margin-top: 16px;
    margin-bottom: 12px;
    border-bottom: 1px solid #5c9977;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

    &_item {
      display: inline-block;
      margin-right: 50px;
      @extend %transition;

      &:hover a::after {
        opacity: 0;
        @extend %transition;
      }

      a {
        position: relative;
        display: block;
        padding: 12px 0;
        color: #fff;
        font-size: 15px;

        &::after {
          content: '';
          position: absolute;
          left: 0;
          bottom: 10px;
          width: 100%;
          height: 1px;
          background-color: #fff;
          opacity: 1;
        }
      }
    }
  }

  .l-header-grid {
    float: left;
    width: 735px;
  }

  &-actions {
    float: right;
  }

  //search
  &-search {
    width: 100%;
    @include clear;
    position: relative;
    margin-bottom: 17px;

    &_input {
      float: left;
      width: 100%;
      padding-right: 90px;

      input[type='search'] {
        width: 100%;
        padding: 5px 21px;
        border-radius: 2px;
        box-shadow: 0.5px 0.9px 1px rgba(0, 0, 0, 0.22), inset 0 1px 0 #FFF;
      }
    } //end header-search_input

    &_button {
      position: absolute;
      right: 0;

      input[type='submit'] {
        cursor: pointer;
        font-weight: 400;
        padding: 5px 21px;
        border-radius: 2px;
        background-color: #EDEDED;
        box-shadow: 0.5px 0.9px 1px rgba(0, 0, 0, 0.22), inset 0 1px 0 #FFF;
        @extend %transition;

        &:active {
          transform: scale(.98);
        }
      } //end input[type='submit']
    } //end header-search_button
  } //end header-search

  //actions
  &-actions {
    float: right;
    text-align: right;

    &-signin a,
    &-forgotpas {
      display: inline-block;
      color: #fff;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        border-bottom: 1px dotted #fff;
        opacity: 0;
      }

      &:hover::after {
        opacity: 1;
        @extend %transition;
      }
    }

    &-signin {
      margin-bottom: 5px;
      span {padding: 0 3px;}
    }

    &-forgotpas {
      margin-bottom: 15px;
    }

    &-social {
      font-size: 0;

      &_title {
        font-size: $default-font-size;
        margin-bottom: 8px;
      }

      .social-icon {
        width: 25px;
        height: 25px;
        display: inline-block;
        margin-left: 5px;
        background: url('../img/social-bg.png') 50% 50% no-repeat;

        &:hover {
          background: url('../img/footer-social-bgr.png') 49% 51% no-repeat;
          @extend %transition;
        }
      }
    } //end header-action-social
  } //end header-action

  &-slider {
    max-width: 100%;
    margin-bottom: 48px;
    cursor: pointer;

    &-item {
      height: 327px;
      background-color: #ccc;
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat;
    }
  } //slider
} //end header



/*header-authorisation*/

.header-authorisation {
  padding: 6px 0 0 0;
  text-align: right;
  position: relative;
}
.header-authorisation-button {
  padding: 8px 20px;
  margin-right: -20px;
}
.header-authorisation-button,
.header-authorisation-button a,
.header-authorisation-button span {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
}
.header-authorisation-button a {
  padding-left: 35px;
  background: transparent url('../img/authorisation-icon.png') no-repeat 0 0;
  text-decoration: none;
}
.header-authorisation-button a:hover span {
  text-decoration: none;
}
.header-authorisation-button span {
  height: 28px;
  line-height: 28px;
  text-decoration: underline;
  color: #fff;
  font-size: 14px;
}
.header-authorisation-popup {
  display: none;
  position: absolute;
  top: 48px;
  right: -30px;
  width: 451px;
  padding-top: 7px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 3px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 0 4px 3px rgba(0, 0, 0, 0.55);
  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.55);
  z-index: 10;
  background: #f4f4f4 url('../img/header-authorisation-popup-bg.png') repeat-x 0 100%;
}
.header-authorisation-popup-login {
  padding: 18px 26px 14px;
  background: transparent url('../img/hr.png') repeat-x 0 0;
}
.header-authorisation-popup-register {
  padding: 20px 26px 28px;
  background: transparent url('../img/hr.png') repeat-x 0 0;
}
.header-authorisation-popup-form input[type="text"],
.header-authorisation-popup-form input[type="password"] {
  text-align: center;
  display: block;
  width: 152px;
  padding: 3px 15px;
  border: none;
  background-color: #ebebeb;
  -webkit-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.75), inset 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.75), inset 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.75), inset 0 1px 1px rgba(0, 0, 0, 0.2);
  background-image: -webkit-linear-gradient(bottom, #f3f3f3, #e5e4e4);
  background-image: -moz-linear-gradient(bottom, #f3f3f3, #e5e4e4);
  background-image: -o-linear-gradient(bottom, #f3f3f3, #e5e4e4);
  background-image: linear-gradient(to top, #f3f3f3, #e5e4e4);
}
.header-authorisation-popup-form input[type="submit"] {
  text-align: center;
  cursor: pointer;
  width: 184px;
  padding: 3px 0;
  border: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 1px #717171;
  -moz-box-shadow: 0 1px 1px #717171;
  box-shadow: 0 1px 1px #717171;
  background-image: -webkit-linear-gradient(bottom, #f2c52c, #fbdc60);
  background-image: -moz-linear-gradient(bottom, #f2c52c, #fbdc60);
  background-image: -o-linear-gradient(bottom, #f2c52c, #fbdc60);
  background-image: linear-gradient(to top, #f2c52c, #fbdc60);
  font-size: 14px;
  color: #000;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.81);
}
.header-authorisation-popup .line {
  margin-top: 4px;
}
.header-authorisation-popup .line:before,
.header-authorisation-popup .line:after {
  content: " ";
  display: table;
}
.header-authorisation-popup .line:after {
  clear: both;
}
.header-authorisation-popup .line {
  zoom: 1;
}
.header-authorisation-popup .line:first-child {
  margin-top: 0;
}
.header-authorisation-popup .column {
  float: left;
  width: 183px;
  margin-left: 23px;
}
.header-authorisation-popup .column:first-child {
  margin-left: 0;
}
.header-authorisation-popup .social {
  margin-top: 6px;
}
.header-authorisation-popup .social-label {
  float: left;
  font-size: 12px;
  color: #646262;
}
.header-authorisation-popup .social-list,
.header-authorisation-popup .social-list li,
.header-authorisation-popup .social-list a {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  background: none;
}
.header-authorisation-popup .social-list {
  float: right;
}
.header-authorisation-popup .social-list li {
  float: left;
  margin-left: 2px;
}
.header-authorisation-popup .social-list li:first-child {
  margin-left: 0;
}
.header-authorisation-popup .social-list li a {
  width: 17px;
  height: 17px;
  overflow: hidden;
  text-align: left;
  text-indent: -9999px;
  background: transparent url('../img/header-authorisation-popup-social-sprite.png') no-repeat 0 0;
}
.header-authorisation-popup .social-list li.vk a {
  background-position: 0 0;
}
.header-authorisation-popup .social-list li.fb a {
  background-position: -17px 0;
}
.header-authorisation-popup .social-list li.ok a {
  background-position: -34px 0;
}
.header-authorisation-popup .social-list li.tw a {
  background-position: -51px 0;
}
.header-authorisation-popup .social-list li.gp a {
  background-position: -68px 0;
}


.header-authorisation:hover .header-authorisation-button {
  /*
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #ebeaea;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.75);
  background-image: -webkit-linear-gradient(bottom, #f4f4f4 20%, #e1dfdf);
  background-image: -moz-linear-gradient(bottom, #f4f4f4 20%, #e1dfdf);
  background-image: -o-linear-gradient(bottom, #f4f4f4 20%, #e1dfdf);
  background-image: linear-gradient(to top, #f4f4f4 20%, #e1dfdf);
  */
}
.header-authorisation:hover .header-authorisation-button span {
  text-decoration: none;
}
.header-authorisation:hover .header-authorisation-popup {
  /*display: block;*/
}


/* auth */
.-auth-popup-shown .header-authorisation-popup{
  display: block;
}
.-auth-popup-shown .header-authorisation-button {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #ebeaea;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.75);
  background-image: -webkit-linear-gradient(bottom, #f4f4f4 20%, #e1dfdf);
  background-image: -moz-linear-gradient(bottom, #f4f4f4 20%, #e1dfdf);
  background-image: -o-linear-gradient(bottom, #f4f4f4 20%, #e1dfdf);
  background-image: linear-gradient(to top, #f4f4f4 20%, #e1dfdf);
}
.-auth-popup-shown .header-authorisation-button span {
  text-decoration: none;
}
.header-auth-error,
.header-reg-error{
  color: red;
  text-align: left;
}
.header-reg-error{
  margin-left: 25px;
}
.authgag-button{
  position: relative;
}
.authgag-loader{
  position: absolute;
  top: 3px;
  left: 85px;
  width: 20px;
  height: 20px;
  background: url(/bitrix/templates/main/img/loaders/add2basket20x20.gif) 0 0 no-repeat scroll;
  cursor: pointer;
  cursor: hand;
  visibility: hidden;
}
