.main {
  @include clear;

  &-layout-left {
    @extend %outline;
    float: left;
    width: 765px;
  }

  &-layout-right {
    @extend %outline;
    float: right;
    width: 460px;
  }

  .content-block {

    &_title {
      padding-left: 30px;
      margin-bottom: 20px;
      position: relative;
      box-shadow: 0.5px 2px 1px rgba(0, 0, 0, 0.2), inset 0 1px 0 #FFF;
      background: #f7f7f7 url('../img/content-title.jpg') 0 0 repeat-x;
      margin-bottom: 20px;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        background: #0e5d31 url('../img/decor-vertical-line.jpg') 0 0 no-repeat;
        width: 3px;
        height: 100%;
      }

      h2 {
        height: 41px;
        font-size: 22px;
        line-height: 41px;
        padding-right: 14px;
        color: #000;
        text-shadow: 0 1px #fff;
      }
    }

  }
}
